Xin chào các bạn đã đến blog của mình 🤓🤓🤓

Page được lập ra để chia sẻ về các bài toán hiện có, hoặc chưa có, với mục đích sẽ giải thích một cách rõ hiểu hơn và tương tác với đọc giả để có thể hoàn thiện được bài chia sẻ nhất có thể. Mong mọi người đóng góp ý tưởng để giúp page ngày càng phát triển hơn nữa. 🤖🤖🤖

Cụ thể Blog sẽ đi qua các thuật toán hay và thú vị mà trên mạng mình cảm giác cách giải thích vẫn chưa nhất quán và tường minh theo cách nhìn nhận của bản thân, hoặc chỉ đơn giản là một blog nơi mọi người có thể thắc mắc về cùng một bài toán và đưa ra ý kiến để giải quyết chúng và cũng là nơi sau này biết đâu là tài liệu tham khảo cho bản thân ở tương lai. 💻💻💻

